body {
background: linear-gradient(rgb(18, 16, 36),rgb(53, 60, 80, 0.89));
}

header, .bulk {
  border: 1px solid white;
}
.a {
  display: flex;
  border: 1px solid white;
  color: black;
  height: 100%;
  background: linear-gradient(rgba(233, 232, 250, 0.26),rgba(90, 43, 17, 0.75));
  text-align: center;
  bottom: 0;
  border-top: 0px;
}

a {
  color: white;
  align-self: flex-end;
  font-size: 1.3em;
  margin: .3em;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr;
  grid-template-rows: 1fr;
  grid-gap: .3em;
  background-image: url("header3.png");
  height: 18vh;
  background-size: 102% auto;
  /* background-repeat: no-repeat; */
  background-position: bottom;
}

#logo {
  padding-right: 5%;
  text-align: right;
  height: 18%;
  position: absolute;
  right: 1%;
  /* top: 5%; */
}

.summary h2  {
  text-align: right;
  padding-right: .5em;
  padding-top: .3em;
  /* margin: 0.4em; */
  margin-top: 0;
  margin: 0;
}
.about {
  /* border: 1px solid black; */
  height: 100%;
  padding: 1em;
  font-size: 1.1em;
  margin-bottom: 3em;
}
.summary {
  font-size: 0.8em
}

.bulk {
  /* background-image: url("bison.jpeg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(rgba(186, 127, 40, 0.86),rgba(238, 233, 209, 0.73)), url("bison3.png");
  background-size: 100% auto;
  min-height: 82vh;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  header {
    /* height: 17vh; */
    font-size: .7em;
  }
  .list button {
    font-size: 77%;
  }
  .bulky {
    /* height: 83vh; */
  }
  #logo {
    height:10%;
    top: 4%;
  }
}



/* SERVICES */
.list {
  /* border: 1px black solid; */
  width: 35vw;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 70vh;
}

.list button {
  border: 1px solid white;
  margin: .5em;
  padding: .3em;
  /* background:linear-gradient(rgba(233, 232, 250, 0.26),rgba(90, 43, 17, 0.75));
  background-color: black; */
  background-color: rgba(225, 225, 225, 0.5);
  color: black;
  font-size: 1.5em;
}
/* #title h1 {
  text-align: center;
  font-size: 2em;
  margin-right: .5em;
  width: 40%;
  background-color: rgba(225, 225, 225, 0.5);
} */

#title {
  text-align: center;
    border: 1px solid white;
    margin-left: 25%;
    margin-right: 25%;
    padding: .5em;
    font-size: 2em;
    background-color: rgba(225, 225, 225, .5);
}


.bulky {
    /* background-image: url(bison.jpeg); */
    border: 1px white solid;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(rgba(186, 127, 40, 0.62),rgba(130, 103, 65, 0.69)),  url(bison3.png);
    background-size: 100%;
    background-position: top right;
    min-height: 82vh;
}

.blank {
  /* border: solid 1px black; */
  border: 1px solid white;
  background-color: rgba(225, 225, 225, 0.5);
  margin: .5em;
}

.blank * {
  margin: 1em;
}
.blank h1{
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
  grid-gap: .3em;
}
.hidden {
  display: none;
}

button:link {
    text-decoration: none;
}

button:visited {
    text-decoration: none;
}

button:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

button:active {
    text-decoration: underline;
    transform: scale(1.2);
}




/* CONTACT PAGE */

.contact {
  border: 1px white solid;
  background-color: rgba(237, 225, 219, 0.49);
  padding: 0.5em 4.5em 2em;
  margin-top: 1em;
  text-shadow:
}

.contact h1, .contact h2 {
  /* text-shadow: 2px 2px #ffff; */
  text-align: center;
}

.contact p {
  font-size: 1.1em;
  margin: 0;
}
